{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Admin Page</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/templatemo-villa-agency.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/customersupport.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/customersupport.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/heyadmin.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/booking.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/navybar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/checkin.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/signup.css' %}"
    />
  </head>

  <body>
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <ul class="info">
              <li><i class="fa fa-envelope"></i> JoeMarie@citedu.com</li>
              <li>
                <i class="fa fa-map"></i> 7VVJ+QFR, Natalio B. Bacalso Ave, Cebu
                City, 6000 Cebu
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://x.com/minthu" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="navybar">
        <div class="navbar66">
          <div class="logo66"><a href="#">FlightMatch</a></div>
          <ul class="menu66">
            <li>
              <a href="{% url 'home' %}">Return to Home</a>
            </li>
            <li>
              <a href="{% url 'heyadmin' %}" class="active navy-active"
                >Admin Page</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>Admin Page</h3>
          </div>
        </div>
      </div>
    </div>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="checkin">
      <h2>Check-in Form</h2>
      <form method="POST" class="checkin-form">
        {% csrf_token %}

        <div class="form-group">
          <label for="booking_reference">Booking Reference:</label>
          <input
            type="text"
            id="booking_reference"
            name="booking_reference"
            placeholder="Enter your booking reference"
            required
          />
        </div>

        <div class="form-group">
          <label for="checkin_time">Check-in Time:</label>
          <input type="date" id="checkin_time" name="checkin_time" required />
        </div>

        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
    

</br>
</br>
</br>
<hr>

    <div class="col-lg-6">
      <h1>Customer Support</h1>
      <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}

        <div class="login-form-group">
          <label for="id_email">Email:</label>
          {{ form.email }}
        </div>

        <div class="login-form-group">
          <label for="id_phone">Phone Number:</label>
          {{ form.phone }}
        </div>

        <div class="login-form-group">
          <label for="id_subject">Subject:</label>
          {{ form.subject }}
        </div>

        <div class="login-form-group">
          <label for="id_message">Message:</label>
          {{ form.message }}
        </div>

        <div class="login-form-group">
          <button type="submit" id="form-submit" class="orange-button">
            Send Message
          </button>
        </div>
      </form>
    </div>

</br>
<hr>
<form id="contact-form" action="{% url 'booking' %}" method="post">
    <h1>Booking</h1>

    {% csrf_token %}
    <div class="row">
      <div class="col-lg-12">
        <fieldset>
          <label for="departure_city">Departure City</label>
          <input
            type="text"
            name="departure_city"
            id="departure_city"
            placeholder="Enter Departure City..."
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="arrival_destination">Arrival Destination</label>
          <input
            type="text"
            name="arrival_destination"
            id="arrival_destination"
            placeholder="Enter Arrival Destination..."
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="departure_date">Departure Date</label>
          <input
            type="date"
            name="departure_date"
            id="departure_date"
            placeholder="Enter Departure Date"
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="return_date">Return Date</label>
          <input
            type="date"
            name="return_date"
            id="return_date"
            placeholder="Enter Return Date"
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="passengers">Passengers</label>
          <input
            type="number"
            name="passengers"
            id="passengers"
            placeholder="Enter Number of Passengers"
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Email"
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <button
            type="submit"
            id="form-submit"
            class="orange-button"
          >
            Submit
          </button>
        </fieldset>
      </div>
    </div>
  </form>
<hr>
<div class="col-lg-12">
  <h3>Sign Up</h3>
</div>
</div>
</div>
</div>

<div class="contact-page section">
<div class="container">
<div class="row">
<div class="sign-col-lg-6">
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="sign-col-lg-6">
  <form id="contact-form" action="{% url 'signup' %}" method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        <fieldset>
          <label for="email">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Enter Username..."
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <label for="number">Password</label>

        <form>
          <div class="signup-password-container">
            <input
              type="password"
              name="password1"
              id="password1"
              class="signup-password-input"
              placeholder="Password"
              required
            />
            <span id="toggle-password" class="signup-toggle-icon">
              <i class="fas fa-eye"></i>
              <!-- Font Awesome icon for showing password -->
            </span>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <label for="number">Confirm Password</label>
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password"
            required
          />
        </fieldset>
      </div>
      <div class="col-lg-12">
        <fieldset>
          <button
            type="submit"
            id="form-submit"
            class="orange-button"
          >
            Sign Up
          </button>
        </fieldset>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>


    <footer>
      <div class="container">
        <div class="col-lg-12">
          <p>Copyright © FlightMatch Corporations. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/counter.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html> {% endcomment %}



{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/heyadmin.css' %}" />

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Admin Page</title>

    <!-- Custom JavaScript -->
    <script src="{% static 'assets/js/heyadmin.js' %}"></script>
  </head>

  <body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="#" class="nav_logo"> 
                    <i class='bx bx-layer nav_logo-icon'></i> 
                    <span class="nav_logo-name">Flight Match</span> 
                </a>
                <div class="nav_list"> 
                    <a href="#" class="nav_link active"> 
                        <i class='bx bx-grid-alt nav_icon'></i> 
                        <span class="nav_name">Dashboard</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-user nav_icon'></i> 
                        <span class="nav_name">Users</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-folder nav_icon'></i> 
                        <span class="nav_name">Files</span> 
                    </a> 
                  
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                        <span class="nav_name">Stats</span> 
                    </a> 
                </div>
            </div> 
            <a href="{% url 'home' %}" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">SignOut</span> 
            </a>
        </nav>
    </div>
    <!--Container Main start-->
<div class="height-100 bg-light">
    <h4>Admin Page</h4>
    <hr class="content-divider">
</div>


    <!--Container Main end-->
  </body>
</html>


