{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />
  </head>
  <body>
    <nav>
      <div class="navbar-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'flights' %}">View Flights</a>
        <a href="{% url 'info' %}">Information</a>
        <a href="{% url 'checkin' %}">Check In</a>
        <a href="{% url 'booking' %}">Booking</a>
        <a href="{% url 'contact' %}">Customer Support</a>
        <a href="{% url 'signup' %}" style="color: #000">Sign up</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </nav>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
      <div class="alert">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="signup-container">
      <div class="info-container">
        <h2>Password Requirements</h2>
        <ul>
          <li>At least 12 characters long</li>
          <li>Include both uppercase and lowercase letters</li>
          <li>Contain at least one number</li>
          <li>Have at least one special character (e.g., @, #, $, %, etc.)</li>
          <li>
            Should not be easily guessable (avoid common words and phrases)
          </li>
        </ul>
      </div>

      <div class="login-container">
        <h1>Create Account</h1>
        <form method="POST" action="{% url 'signup' %}">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username" required />
          <input
            type="password"
            name="password1"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password"
            required
          />
          <button type="submit">Sign Up</button>
        </form>
        <a href="{% url 'login' %}">Already have an account? Log in</a>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 My Blog Site. All rights reserved.</p>
    </footer>
  </body>
</html>
