@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.navybar {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #fff;
}
.navybar .navbar66 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #fff;
  margin: auto;
}
.navybar .navbar66 .logo66 a {
  color: #ff7b00;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
.navybar .navbar66 .menu66 {
  display: flex;
}
.navbar66 .menu66 li {
  list-style: none;
  margin: 0 15px;
}
.navbar66 .menu66 li a {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.navy-active {
  color: #ff7b00 !important;
}
section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
}
#Home {
  background: #fff;
}
#About {
  background: #f2f2f2;
}
#Category {
  background: #e6e6e6;
}
#Latest {
  background: #fff;
}
#Contact {
  background: #f2f2f2;
}
#Feedback {
  background: #e6e6e6;
}
.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
