footer {
    background-color: #333;
    padding: 40px;
    color: white;
    text-align: center;
}

.message-container {
    position: fixed; /* Keep it fixed to the viewport */
    top: 6%; /* Move it to the vertical center */
    left: 50%; /* Move it to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust position to center it */
    width: 90%;
    max-width: 400px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's on top of other elements */
}



.alert {
    margin: 5px 0;
    /* Space between messages */
}