nav {
    background-color: #3494dd;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover {
    color: #000000;
}

.footer-class {
    background-color: #333;
    padding: 40px;
    color: white;
    text-align: center;
}